@font-face {
    font-family: 'Proxima Nova Cond Black';
    src: url('../fonts/ProximaNovaCond-Black.eot');
    src: local('☺'), url('../fonts/ProximaNovaCond-Black.woff') format('woff'), url('../fonts/ProximaNovaCond-Black.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Cond Bold';
    src: url('../fonts/ProximaNovaCond-Bold.eot');
    src: local('☺'), url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Cond Reg';
    src: url('../fonts/ProximaNovaCond-Reg.eot');
    src: local('☺'), url('../fonts/ProximaNovaCond-Reg.woff') format('woff'), url('../fonts/ProximaNovaCond-Reg.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Reg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Reg';
    src: url('../fonts/ProximaNova-Reg.eot');
    src: local('☺'), url('../fonts/ProximaNova-Reg.woff') format('woff'), url('../fonts/ProximaNova-Reg.ttf') format('truetype'), url('../fonts/ProximaNova-Reg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Light It';
    src: url('../fonts/ProximaNova-LightIt.eot');
    src: local('☺'), url('../fonts/ProximaNova-LightIt.woff') format('woff'), url('../fonts/ProximaNova-LightIt.ttf') format('truetype'), url('../fonts/ProximaNova-LightIt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Proxima Nova Cond Reg', Sans-Serif;
    font-size: 18px;
    color: #555555;
    line-height: 24px;
}
section {
    padding: 40px 0;
}
h1 {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    font-size: 24px;
    color: #b7001e;
}
h1 .brand {
    font-family: 'Proxima Nova Cond Black', Sans-Serif;
    font-size: 36px;
    color: #b7001e;
}
h2 {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    font-size: 30px;
    color: #b7001e;
    text-align: center;
    margin-bottom: 30px;
}
h3 {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    font-size: 24px;
    color: #b7001e;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
p {
    color: #555555;
    line-height: 24px;
}
img {
    vertical-align: bottom;
    max-width: 100%;
}
a.bottom_anchor {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: #b7001e;
    display: block;
    margin: 40px auto 0;
    border-radius: 4px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
a.bottom_anchor, a.bottom_anchor:hover, a.bottom_anchor:active, a.bottom_anchor:visited {
    color: #ffffff;
    text-decoration: none;
}
a.bottom_anchor:hover {
    background-color: #940018;
}
@media (min-width: 544px) {
    h1 {font-size: 36px;}
    h1 .brand {font-size: 48px;}
    h2 {font-size: 36px;}
    h3 {font-size: 28px;}
    a.bottom_anchor {font-size: 24px;}
}
@media (min-width: 768px) {
    h1 {font-size: 48px;}
    h1 .brand {font-size: 72px;}
    h2 {font-size: 48px;}
    h3 {font-size: 36px;}
}


/* Меню */
section#menu {
    padding: 0;
}
#menu {
    background: url("../img/bg-white.png");
    *height: 100px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
#menu .navbar-toggler {
    background: rgba(0,0,0,0.2);
    margin-top: 30px;
}
#menu nav {
    *height: 100%;
}
#menu .brand {
    display: inline-block;
    padding: 12px 0;
}
#menu .main_menu  {
    padding: 38px 0;
    margin: 0;
}
#menu .main_menu li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
#menu .main_menu li:last-child {
    margin-right: 0;
}

#menu .main_menu li a {
    font-family: 'Proxima Nova Reg', Sans-Serif;
    font-size: 18px;
    color: #242424;
}
#menu .main_menu li a:hover {
    color: #888888;
}

@media (max-width: 544px) {
    #menu .brand {
        width: 80%;
    }
    #menu .main_menu {
        padding-top: 10px;
    }
}

/* Основное предложение */
section#main {
    padding-bottom: 10px;
}
#main {
    background: url("../img/main_bg.png") center center no-repeat;
    background-position: 60% center;
    background-size: cover;
}
#main .description {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 16px;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
}
#main .phone{
    font-family: 'Proxima Nova Cond Bold';
    font-size: 24px;
    margin-bottom: 70px;
}
#main .number {
    display: inline-block;
}
#main .number a{
	text-decoration:none;
	color:#555555;
}
#main .number a:hover{
	text-decoration:none;
	color:#555555;
}

#main .support {
    font-family: 'Proxima Nova Cond Reg', Sans-Serif;
    font-size: 12px;
    line-height: 18px;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
}
@media (min-width: 554px) {
    #main .description {
        font-size: 18px;
    }
    #main .support {
        font-size: 16px;
    }
    #main .phone{
        font-size: 36px;
    }
    #main {
        background: url("../img/main_bg.png") no-repeat;
        background-position: center center;
    }
}
/* Применение */
#advantage {
    background: #b7001e url("../img/advantage_bg.png") center center;
    color: #ffffff;
    padding-bottom: 0;
}
#advantage .advantage_block {
    margin-bottom: 40px;
}
#advantage .for {
    font-family: 'Proxima Nova Light It', Sans-Serif;
    font-size: 16px;
}
#advantage .title {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    font-size: 22px;
    line-height: 20px;
}
#advantage img {
    max-width: 62px;
}
#advantage .more a{
    color: #ffffff;
    margin-top: 10px;
    border-bottom: 1px #ffffff solid;
    text-decoration: none;
    display: inline-block;
}
#advantage .more a:hover{
    border-bottom: 0;
}
@media (min-width: 768px) {
    #advantage .title {
        font-family: 'Proxima Nova Cond Bold', Sans-Serif;
        font-size: 28px;
        line-height: 24px;
    }
}

/* Характеристики */
#feature {
    background: url("../img/feature-girl_bg_1920_60.png")62% bottom no-repeat, url("../img/feature_bg.jpg") center bottom no-repeat;
}
#feature .feature_block {
    margin-bottom: 20px;
}
#feature .feature_block .feature_image {
    width: 30%;
    max-width: 62px;
    margin-right: 4%;
    vertical-align: top;
}
#feature .feature_description {
    display: inline-block;
    vertical-align: super;
    max-width: 60%;
    padding: 4%;
    padding-left: 0;
    background: rgba(255,255,255,0.6);
}
#feature h3 {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    font-size: 18px;
    color: #555555;
    text-align: left;
    margin: 0;
    margin-bottom: 6px;
}
#feature .value {
    font-family: 'Proxima Nova Cond Reg', Sans-Serif;
    font-size: 14px;
    color: #555555;
    line-height: 20px;
}
#feature .value strong {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
}

@media (min-width: 544px) {
    #feature {
        background: url("../img/feature-girl_bg_1920_60.png")60% 100% no-repeat, url("../img/feature_bg.jpg") 50% 100% no-repeat;
    }
    #feature h3 {
        font-size: 20px;
    }
    #feature .feature_description {
        display: inline-block;
        vertical-align: super;
        width: 60%;
        padding: 0;
        background: none;
    }

    #feature .value {
        font-size: 16px;
        color: #7f7f7f;
    }
}
@media (min-width: 768px) {
    #feature {
        background: url("../img/feature-girl_bg_1920.png")50% 100% no-repeat, url("../img/feature_bg.jpg") 50% 100% no-repeat;
    }
    #feature h3 {
        font-size: 24px;
    }
    #feature .value {
        font-size: 18px;
    }
}
@media (min-width: 992px) {
    #feature {
        background: url("../img/feature-girl_bg_1920.png")60% 100% no-repeat, url("../img/feature_bg.jpg") 50% 100% no-repeat;
    }
}

/* Документация */
#documentation {
    background: #999999 url("../img/product_bg.jpg") repeat;
}

/* Применение */
#application {
    padding: 0;
}
#application h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}
#application .application_block {
    background: url("../img/application_bg_grey.png");
    color: #555555;
    padding: 40px 0;
}
#application .application_block  h3, #application .application_block p {
    color: #555555;
}
#application .application_block:nth-child(odd) {
    background: url("../img/application_bg_red.png");
}
#application .application_block:nth-child(odd) h2, #application .application_block:nth-child(odd) h3, #application .application_block:nth-child(odd) p{
    color: #ffffff;
}
#application img {
    margin-bottom: 20px;
}

/* Испытания */
#test {
    background: url("../img/bg-red.jpg");
    color: #ffffff;
}
#test h2, #test p {
    color: #ffffff;
}
#test li {
}

/* Контакты */
#contact {
    background: url("../img/bg-white-40.png");
}
#contact img {
    vertical-align: bottom;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
#contact h3 {
    color: #555555;
    margin-bottom: 0;
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
}
#contact .contact_main {
     text-align: center;
}
#contact .contact_main h3 {
    font-size: 30px;
    text-align: center;
}
#contact p {
    font-family: 'Proxima Nova Cond Reg', Sans-Serif;
    line-height: 24px;
    margin-bottom: 6px;
    color: #7f7f7f;
}
#contact a {
    color: #7f7f7f;
    text-decoration: none;
}
#contact .email a {
    border-bottom: 1px #7f7f7f solid;
}
#contact .email a:hover {
    border-bottom: none;
}

/* Заявка */
#order {
    background: url("../img/bg-red.jpg");
}
#order h2 {
    color: #ffffff;
    margin-bottom: 0;
}
#order .description {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    line-height: 24px;
    margin-bottom: 60px;
}
#order .form {
    padding: 10px;
    background: #ffffff;
}
#order .color_block {
    padding: 40px 40px 20px;
    background: url("../img/bg-grey.png");
}
#order label {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    font-size: 30px;
    color: #242424;
    padding: .7rem 0rem;
    margin-bottom: 0;
}
#order .form-control {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(0,0,0,0.20);
    background-image: none;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.60);
}
#order .order_bottom {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: #b7001e;
    display: block;
    margin: 40px auto 0;
    border-radius: 4px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    border: none;
}
#order .order_bottom, #order .order_bottom:hover, #order .order_bottom:active, #order .order_bottom:visited {
    color: #ffffff;
    text-decoration: none;
}
#order .order_bottom:hover {
    background-color: #940018;
}
@media (min-width: 544px) {

    #order .description {
        font-size: 24px;
        line-height: 30px;
    }
    #order .color_block {
        padding: 40px 20px 20px;
        background: url("../img/bg-grey.png");
    }
    #order .order_bottom {
        font-size: 24px;
    }
}
@media (min-width: 768px) {
    #order .description {
        font-size: 30px;
        line-height: 36px;
    }
    #order .color_block {
        padding: 40px 60px 20px;
        background: url("../img/bg-grey.png");
    }
}

/* Остались вопросы */
#question {
    font-family: 'Proxima Nova Cond Bold', Sans-Serif;
    font-size: 36px;
    line-height: 48px;
}
#question a, #question a:hover{
    color: #555555;
    text-decoration: none;
}
@media (min-width: 544px) {
    #question {
        font-size: 28px;
    }
}
@media (min-width: 768px) {
    #question {
        font-size: 48px;
    }
}

/* Подвал */
#footer {
    background: url("../img/bg-red.jpg");
    padding: 20px 0;
}
#footer .logo_block {
    display: block;
}
#footer .logo {
    display: block;
    margin: 0 auto;
}
#footer .logo img {
    margin: 0 auto 20px;
    display: block;
}
#footer .logo:last-child {
    *margin-right: 0;
}
#footer .text_block{
    display: flex;
    margin: 0 auto;
}
#footer .text_block p{
    color: #ffffff;
    margin-right: 20px;
    margin-bottom: 0px;
    text-align: right;
}
@media (min-width: 544px) {
    #question {
        font-size: 28px;
    }
    #footer .logo_block {
        display: inline-block;
    }
    #footer .logo {
        display: inline-block;
        margin-right: 20px;
    }
    #footer .text_block{
        display: inline-block;
        margin-right: 0;
        float: right;
    }
}
@media (min-width: 768px) {
    #question {
        font-size: 48px;
    }
    #footer .logo {
        display: inline-block;
        margin-right: 20px;
    }

}

/* Страница благодарности */
#success_message {
    background: url("../img/main_bg.png") center center no-repeat;
    background-position: 60% center;
    background-size: cover;
}
#success_message h1 {
    margin-bottom: 0;
    margin-top: 40px;
}
#success_message .description {
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 16px;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
}
#success_message .phone{
    font-family: 'Proxima Nova Cond Bold';
    font-size: 24px;
    margin-bottom: 70px;
}
#success_message .number {
    display: inline-block;
}
@media (min-width: 554px) {
    #success_message .description {
        font-size: 26px;
    }
    #success_message .support {
        font-size: 16px;
    }
    #success_message .phone{
        font-size: 36px;
    }
    #success_message {
        background: url("../img/main_bg.png") no-repeat;
        background-position: center center;
    }
}
@media (min-width: 768px) {
    #success_message h1 {
        margin-bottom: 0;
        margin-top: 100px;
    }
    #success_message .description {
        margin-top: 10px;
        margin-bottom: 280px;
    }
    #success_message .support {
        font-size: 16px;
    }
    #success_message .phone{
        margin-bottom: 40px;
    }
    #success_message {
        background: url("../img/main_bg.png") no-repeat;
        background-position: center center;
    }
}
